<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>YARA</string>
	<key>uuid</key>
	<string>3A30AFD9-3D68-46F4-ADEE-6A01089591EA</string>
</dict>
</plist>
